:root {
  --color-brand-primary: #cddc39;
  --color-brand-content: #03a9f4;
  --color-brand-visited: #03a9f4;
  --sy-c-brand: #cddc39;
  --sy-c-accent: #03a9f4;
}

html[data-theme="dark"] {
  --color-brand-primary: #4caf50;
  --color-brand-content: #03a9f4;
  --color-brand-visited: #03a9f4;
  --sy-c-brand: #4caf50;
  --sy-c-accent: #03a9f4;
}
